@model BlogNullReference.DataServices.Services.Dto.PostDto[]

@{ ViewData["Title"] = "Home Page"; }

<div class="thread">
    @foreach (var post in Model)
    {
    <div class="thread__post">
        <h2>@post.Title</h2>
        <div class="thread__post_info">
            <span>
                @post.PublishedAt.ToString("dd/MM/yyyy HH:mm")
            </span>
        </div>
        <div class="thread__post_preview">
            <p>@post.PreviewText</p>
        </div>
        @if (post.Tags.Length > 0)
        {
            <div class="tags">
                @foreach (var tag in post.Tags)
                {
                    <a>@tag.Name</a>
                }
            </div>
        }
    </div>
    }
</div>
