@model BlogNullReference.Web.ViewModels.PostViewModel

@{
    ViewData["header"] = Model.Post.Title;
}

<h2>@Model.Post.Title</h2>

<div>
    @Html.Markdown(Model.Post.FullText)
</div>

@await Component.InvokeAsync(nameof(Tags), Model.Post.Tags)

<a href="@Url.Action("index", "post")">[ back to main ]</a>