@model TinyBlog.Web.ViewModels.TagViewModel[]

@if (Model != null || Model.Length > 0)
{
    <div class="tags">
        @foreach (var tag in Model)
        {
            <a
               href="@Url.Action("tag", new { tag.Name })">
                @tag.Name
            </a>
        }
    </div>
}