body {
    background-color: #fff;
    color: #818181;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    color: #222;
}

h1 { font-size: 150%; }
h2 { font-size: 150%; }

a {
    color: #42b6f3;
    text-decoration: none;
}

a.link-header {
    color: #222;
}

.content {
    width: 50%;
    margin: 0 auto;
}

.thread .thread__post {
    margin-bottom: 2em;
}

.thread .thread__post .thread__post_info {
    font-size: 80%;
    color: #666;
    text-transform: uppercase;
}

.thread .thread__post .thread__post_preview {
    margin: 16px 0;
}

.tags {
    font-size: 80%;
}

.tags a {
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
}