.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .dashboard__menu {
        flex: 0 0;
        padding: 10px 5px;

        .dashboard__menu__toggle {
            text-align: right;
            font-size: 150%;

            &:hover {
                cursor: pointer;
            }
        }

        .dashboard__menu__link {
            display: block;
            padding: 5px 0;
            white-space: nowrap;
            font-size: 1.2em;

            .typcn {
            }

            &.link-no-text {
                font-size: 150%;

                .typcn {
                    margin-right: 0px;
                }
            }

            &.link-active {
                
            }
        }
    }

    .dashboard__content {
        flex: 1 1 auto;
        padding: 10px 5px;
    }

    @media screen and (min-width: 768px) {
        .dashboard__menu {
            padding: 10px 20px;
        }

        .dashboard__content {
            padding: 10px 20px;
        }
    }
}