@import 'variables.scss';

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #fafafa;
    color: #818181;
    font-family: "Open Sans",sans-serif;
    font-size: .875em;
    overflow-x: hidden;
}

h1, h2, h3, h4 { color: #222; }
h1 { font-size: 150%; margin: 10px 0; }
h2 { font-size: 150%; margin: 10px 0; }

button {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    text-transform: capitalize;
}

a {
    color: $linkColor;
    text-decoration: underline;
}

.editor-field{
    margin-bottom: 8px;

    label {
        span {
            display: block;
            padding: 4px 0;
        }

        input {
            min-width: 256px;
            width: 100%;
            line-height: 24px;
            padding: 0 2px;
        }
    }

    .editor-field__help {
        display: block;
        font-size: 80%;
        color: #919aa3;
        padding: 4px 0;
    }
}

a.site-title {
    font-size: 150%;
    text-transform: uppercase;
}

.header {
    background-color: $brandColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .header__body {
        width: $contentWidth;
        margin: 0 auto;

        a.header__body_link {
            color: #fff;
            font-size: 2em;
            font-weight: 700;
            line-height: 2.4em;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        width: $contentWidth;
        margin: 6em auto 0;
        flex: 1 0 auto;
    }

    .footer {
        background-color: $brandColor;
        color: #dcdcdc;
        flex: 0 0 auto;

        .footer__body {
            font-size: 100%;
            text-align: center;
            width: $contentWidth;
            margin: 0 auto;
            padding: 12px 0;
        }
    }
}

.link-header {
    text-decoration: none;
}

.thread {
    .thread__post {
        margin-bottom: 2em;

        .thread__post_info {
            font-size: 80%;
            color: #666;
            text-transform: uppercase;
        }

        .thread__post_preview {
            margin: 10px 0;

            .thread__post_preview_link {
                margin: 5px 0 0;
                display: inline-block; 
            }
        }
    }
}

.tags {
    font-size: 80%;

    a {
        border: 1px #ccc solid;
        display: inline-block;
        margin: 2px;
        padding: 4px 6px;
        text-align: center;
        text-decoration: none;
    }
}