@import 'variables.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 14px;
}

body {
    background-color: $backgroundColor;
    color: #818181;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

h1, h2, h3, h4 { color: #222; }
h1 { font-size: 130%; margin: 10px 0; }
h2 {
	font-size: 130%;
	margin: 10px 0;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    text-transform: capitalize;

    &.btn-login {
        background-color: $brandColor;
        color: #fff;
    }

    &.btn-success {
        background-color: $successColorBtn;
        color: #fff;
    }

    &.btn-danger {
        background-color: $dangerColorBtn;
        color: #fff;
    }
    
    &:disabled {
        background-color: #919aa3 !important;
    }
}

a {
    cursor: pointer;
    color: $linkColor;
    text-decoration: underline;
}

input[type="text"] {
    line-height: 24px;
    padding: 0 4px;
}

.error__code {
    font-size: 6em;
    text-align: center;
}

.editor-field{
    margin-bottom: 8px;

    label {
        span {
            display: block;
            padding: 4px 0;
        }

        input {
            min-width: 256px;
            width: 100%;
        }
    }

    .editor-field__help {
        display: block;
        font-size: 80%;
        color: #919aa3;
        padding: 4px 0;
    }
}

.align-right {
    text-align: right;
}

.controls {
    text-align: right;
    
    .controls__btn {
        display: inline;
        margin-left: 10px;
    }
}

a.site-title {
    font-size: 150%;
    text-transform: uppercase;

}

.header {
    background-color: $brandColor;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .header__body {
        width: $contentWidth;
        margin: 0 auto;

        font-size: 130%;
        font-weight: 700;
        line-height: 200%;

        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
        }

        .header__body_link {}

        .header__body_rss { float: right; }
    }

    @media screen and (min-width: 768px) {
        .header__body {
            font-size: 200%;
            line-height: 230%;
            width: $desktopContentWidth;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        background-color: $contentBackColor;
        width: $contentWidth;
        margin: 3rem auto 0;
        flex: 1 0 auto;
        padding: 5px;
    }

    .footer {
        background-color: $brandColor;
        color: #dcdcdc;
        flex: 0 0 auto;

        .footer__body {
            font-size: 100%;
            text-align: center;
            width: $contentWidth;
            margin: 0 auto;
            padding: 12px 0;
        }
    }

    @media screen and (min-width: 768px) {
        .content {
            width: $desktopContentWidth;
            margin: 5rem auto 0;
            padding: 20px;
        }

        .footer {
            .footer__body {
                width: $desktopContentWidth;
            }
        }
    }
}

.link-header {
    text-decoration: none;
}

.date-upper {
    font-size: 80%;
    color: #666;
    text-transform: uppercase;
}

.thread {
    .thread__post {
        margin-bottom: 2rem;

        .thread__post_preview_link {
            margin: 5px 0 0;
            display: inline-block; 
        }
    }

    .thread__no-records {
        text-align: center;
        font-size: 120%;
        margin-top: 2em;
    }
}

.markdown {
    margin: 10px 0;
    font-size: 1rem;

    code {
        background-color: #666;
        color: #fff;
        width: 100%;
        display: inline-block;
        padding: 4px;
        margin: 4px 0;
        font-size: 1rem;
    }

    p {
        padding: 5px 0 10px;
    }

    ol, ul {
        margin-left: 20px;
    }
}

.tags {
    font-size: 80%;

    a {
        border: 1px #ccc solid;
        display: inline-block;
        margin: 2px;
        padding: 4px 6px;
        text-align: center;
        text-decoration: none;

        &:hover {
            box-shadow: 0 1px 2px rgba($linkColor, .6);
            transition: box-shadow 0.2s ease-in-out;
        }
    }
}

.action {
    color: $linkColor;
    font-size: 1.5rem;
    padding-left: 10px;

    &:hover {
        cursor: pointer;
    }

    .action__text {
        font-size: 1rem;
        padding: 0;
    }
}