$contentWidth: 95%;
$desktopContentWidth: 65%;

$brandColor: #404E67;
$linkColor: #01a9ac;

$dangerColor: #fe5d70;
$successColor: #0ac282;

$dangerColorBtn: darken($dangerColor, 10%);
$successColorBtn: darken($successColor, 10%);