$contentWidth: 95%;

$brandColor: #404E67;
$linkColor: #01a9ac;

$dangerColor: #fe5d70;
$successColor: #0ac282;

$backgroundColor: #fafafa;
$contentBackColor:  #fff;
$textColor: #444;
$textColorMuted: #666;

$dangerColorBtn: #f1011d;
$successColorBtn: #07875b;