@using BlogNullReference.Web.Configuration.Settings

@{
    var title = ViewData[nameof(ISiteSettings.Title)];
    var header = ViewData["header"]?.ToString() ?? string.Empty;
    if (!string.IsNullOrWhiteSpace(header))
    {
        title = $"{header} - {title}";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
