{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "@typescript-eslint/no-empty-interface": "off",
        "react/no-children-prop": "warn",
        "@typescript-eslint/explicit-function-return-type": {
            "allowExpressions": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}