@section scripts {
    <script
        type="text/javascript"
        asp-append-version="true"
        src="~/js/vendor.js"></script>
    <script
        type="text/javascript"
        asp-append-version="true"
        asp-src-include="~/js/*.js"
        asp-src-exclude="~/js/vendor.js"></script>
}

<div id="root"></div>