@model TinyBlog.Web.ViewModels.PostViewModel

@{
    ViewData["header"] = Model.Title;
}

<h2>@Model.Title</h2>

<div>
    @Html.Markdown(Model.FullText)
</div>

@await Component.InvokeAsync(nameof(Tags), Model.Tags)

<a href="/">[ back to home ]</a>